$primaryColor: #89cd00;
$borderColor:#d4d4d4;
$borderRadiusSize: 1.2rem;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.8rem;
    background-color: #fff;
    gap: 1.8rem;

    display: grid;
}

span{
    color: $primaryColor;
}

aside{
    grid-area: logo;

    padding: 1.8rem;
    text-align: center;

    h1{
        font-size: 5.6rem;
        font-weight: 50rem;
    }
    img{
        width: 65rem;
        height: 65rem;
    }
}

main{
    grid-area: main;

    width: 80rem;
    height: 70rem;
    padding: 4.4rem;
    border: 1px solid $borderColor;
    border-radius: $borderRadiusSize;

    .fa-chevron-left{
        color: $primaryColor;
        margin-right: 2rem;

        cursor: pointer;
    }

    h2{
        margin-top: 1rem;
        font-size: 3.6rem;
        width: 45rem;
        font-weight: 50rem;
        text-align: justify;
    }

    .data-input{
        display: flex;
        flex-direction: column;
        text-align: justify;

        label{
            display: block;
            margin-top: 3rem;
            font-size: 2.6rem;
        }

        .fa-chevron-down{
            color: rgb(60, 191, 196);
            font-size: 3rem;
            position: relative;
            margin-top: -4rem;
            margin-left: 65rem;
            font-weight: 50rem;
        }

        input, select{
            color: #000;
            padding: .5rem;
            margin-top: .5rem;
            height: 5rem;
            width: 70rem;
            border-radius: 1rem;
            border: 1px solid $borderColor;
        }

        select{
            appearance: none;
        }

        .fa-phone, .fa-circle-plus{
            color: rgb(60, 191, 196);
            font-size: 3.5rem;
            position: relative;
            margin-top: -4.5rem;
            margin-left: 71rem;
        }

        .fa-circle-plus{
            margin-top: -4rem;
        }
    }

    .controller{
        margin-top: 8rem;

        #cadastrar{
            border: none;
            border-radius: $borderRadiusSize;
            color: #fff;
            background-color: rgb(60, 191, 196);
            width: 70rem;
            height: 7rem;
            font-size: 2.8rem;
            cursor: pointer;
            
        }
    }
}

@media screen and (min-width: 1024px) {
    body{
        grid-template-areas: 
        ". . . . ."
        ". logo logo . ."
        ". logo logo main ."
        ". logo logo main ."
        ;   
    }
}

@media screen and (min-width: 1440px) {
    body{
        grid-template-areas: 
        ". . . ."
        "logo logo . ."
        "logo logo main ."
        "logo logo main ."
        ; 
    }
}

@media screen and (min-width: 2560px) {
    body{
        grid-template-areas: 
        ". . . . ."
        "logo logo . . ."
        "logo logo . main ."
        "logo logo . main ."
        ;   
    }
}
